<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
    <link rel="stylesheet" href="../Styles/style.css">
      
</head>
<body>
    <main>
        <header><h1>Mi familia, y un poco del tiempo de calidad juntos</h1></header>
        <nav>
            <div class="button"><a href="../index.html">Inicio</a></div>  
            <div class="button"><a href="../templates/hobbies.html">Mis hobbies y pasatiempos</a></div>
    </nav>
        <div>
        <div class="family"><img src="../assets/images/familia.jpeg"alt=""></div><h3>Un gran recuerdo familiar de la infancia en la celebración matrimonial de las bodas de plata de mis abuelos con mis primos y tíos.</h3><hr>
        <div class="family"><img src="../assets/images/familia1.jpeg" alt=""></div><h3>Esta es una foto de mi cumpleaños número 18 también con mis dos abuelos paternos</h3> <hr>
        <div class="family"><img src="../assets/images/familia2.jpeg"alt=""></div><h3>Un paseo con de rio con la familia, con sancocho incluido</h3>  <hr>          
        </div>
        
    
    <section></section>
    <footer>
        <p>Página realizada por Alejandro López A. Todos los derechos reservados 2024&copy;</p>
    </footer>
</main>
</body>
</html>