<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis pasatiempos</title>
    <link rel="stylesheet" href="../Styles/style.css">
      
</head>
<body>
    <main>

        <header><h1>¿Qué me gusta hacer en mi tiempo libre?</h1></header>
        <nav>
        <div class="button"><a href="../index.html">Inicio</a></div> 
        <div class="button"><a href="../templates/familia.html">Mi familia</a></div>   
        </nav>

        <div class="hobbie"><img src="../assets/images/perrojugando.jfif"alt=""></div><h3>En mis ratos libres disfruto mucho de jugar videojuegos, practicar ejercicios de programación y todo tipo de actividades interesantes en mi computador.</h3><hr>
        <div class="hobbie"><img src="../assets/images/cr7.jpg" alt=""></div><h3>Me gusta mucho también jugar futbol y cada vez que puedo me gusta salir a practicarlo </h3> <hr>
        <div class="hobbie"><img src="../assets/images/hobbie.jfif"alt=""></div><h3>Me gusta leer mucho tanto mangas como historietas y libros.</h3> <hr>           
            
        
        <section></section>
    <footer>
        <p>Página realizada por Alejandro López A. Todos los derechos reservados 2024&copy;</p>
    </footer>
    </main>
    
</body>
</html>